# Dependency directory
# https://docs.npmjs.com/cli/shrinkwrap#caveats
node_modules

# Debug log from npm
npm-debug.log

/settings.json

/.idea
/.env

/assets

/build
/dist/
/data
.DS_Store

/reports/

